@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family:'Inter', sans-serif;
}



@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  
  --color-primary: #556B2F;     
  --color-secondary: #2F4F4F;   
  --color-base-100: #F3F3F3;
  --color-base-200: #E7E7E7;
  --color-accent: #8F9779;     
}



/* From Uiverse.io by Juanes200122 */ 
.container {
  background-color: #414141;
}
#bounce {
  animation: bounce 4s ease-in-out infinite;
  transform: translateY(36px);
}
@keyframes bounce {
  0%, 100% { transform: translateY(36px); }
  50% { transform: translateY(46px); }
}
/* End of Uiverse.io code */